/* ......body formating...... */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


body{
    margin-top: 2%;
    text-align: center;
    background-color: #EEEEEE;
    font-family: 'EB Garamond', serif;
    color: #197163;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}
/* ................... */

h1{
    font-family: 'Sacramento', cursive;
    font-size: 4.25rem;
    font-weight: 400;
    line-height: 3rem;
}

.feedback-form-container input{
    padding: 10px 15px 10px 15px;
    background-color: #B31459;
    border: black ;
    color: #ffffff;
}

.feedback-form-container textarea {
    width: 50%;
    height: 450px;
    border-color: #B31459;
    padding: 15px;
    resize: none;
    overflow: hidden;
}

.feedback-form-container textarea::placeholder {                
    /* Firefox, Chrome, Opera */
    text-align: center;
    line-height:425px;
    font-size: 20px;
}

/* When the textarea gets focus, do something */
.feedback-form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
