/* backgroud-image */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-container{
    padding-top: 60px; 
}


.content-area{
    height: 100%;
     
}

.content{
    text-align: center;
}

.content h1{
    display: flex;
    position: absolute;
    top: 150px;
    left: 730px; 
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.p1{
    display: flex;
    position: absolute;
    top: 210px;
    left: 550px; 
    font-size: 50px;
    font-family: 'Sacramento', cursive;
    color: #fff;
}

.p2{
    font-size: 80px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    line-height: .9;
    display: flex;
    position: absolute;
    top: 500px;
    left: 100px;  
    
}
/* ................... */

/* ......body formating...... */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 


body{
    margin-top: 2%;
    text-align: center;
    background-color: #EEEEEE;
    font-family: 'EB Garamond', serif;
    color: #197163;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}
/* ................... */

.two-button-spacing{
    margin-right: 10px;
}


.avatar-name{
    position: relative;
}


.avatar-name img{
  float: left;
  width: 10%;
  margin-left: 100px;
  margin-right: 50px;
}

.avatar-para{
    text-align: left;
    padding-top: 26px;
    margin-bottom: 150px; 
    line-height: 35px;
}




